<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Student-only device enforcement capabilities are deliberately absent
         from the separately published admin application. -->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.SYSTEM_ALERT_WINDOW"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"
        tools:node="remove" />

    <application>
        <service
            android:name=".ScreenTimeAccessibilityService"
            tools:node="remove" />
    </application>
</manifest>
